<!-- Sidebar Wrapper -->
<nav class="sidebar" [ngClass]="{'collapsed': isCollapsed}">
    <!-- Sidebar Header with User Profile -->
    <div class="sidebar-header text-center pt-5">
      <img [src]="userProfile.picture" alt="User Profile" class="profile-img">
      <h5 class="user-name">{{ userProfile.name }}</h5>
      <p class="user-email">{{ userProfile.email }}</p>
    </div>
  
    <!-- Sidebar Menu -->
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" routerLink="/gadgets/list">
          <i class="fa fa-bars"></i> All Gadgets
        </a>
        <a class="nav-link" routerLink="/gadgets/add">
          <i class="fa fa-plus"></i> Add New
        </a>
      </li>
      <li class="nav-item">
        <a (click)="logout()" class="nav-link logout">
          <i class="fa fa-sign-out-alt"></i> Logout
        </a>
      </li>
    </ul>
</nav>
