.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background: #f8f9fa;
  }
  
  .auth-card {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 350px;
  }
.btn-primary{
    background-color: black !important;
    border-color: black;
}

a{
    color:black;
}
  