<h4 class="text-center m-4 mb-0">Gadget Inventory Management</h4>
<div class="auth-container">
    <div class="auth-card"> 
      <h3 class="text-center">Login</h3>
      <form (submit)="onLogin()">
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control" id="email" name="email" [(ngModel)]="email" required>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" id="password" name="password" [(ngModel)]="password" required>
        </div>
        <button type="submit" class="btn btn-primary w-100">Login</button>
        <p class="mt-3 text-center">
          Don't have an account? <a routerLink="/register">Register</a>
        </p>
      </form>
    </div>
  </div>
  